/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center aligns the content within the container */
}

h1, h2 {
  text-align: center;
  color: #333;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center aligns the content (including the button) */
}

.label1 {
  margin-bottom: 8px;
}

input[type="text"],
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"][name="download"] {
  display: block;
  margin: 20px auto; /* Center aligns the button */
  padding: 8px 12px; /* Adjust padding as needed */
  background-color: #007bff;
  color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
}

input[type="submit"][name="download"]:hover {
  background-color: #0056b3;
}

/* Gallery Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  margin: 10px;
  text-align: center;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 5px;
  cursor: pointer;
}
.btn {
  background-color: #007bff; /* Blue color */
  color: #fff; /* Text color */
  padding: 8px 20px; /* Padding for button */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}